/*
/*/
!.vscode
!packages
!scripts
!src
!test
!.c8rc.json
!.git*
!.mocharc.json
!.npm*
!.nvmrc
!.prettier*
!makefile
!package*
!*tsconfig*
!*.md
!typedox.json

/**/dist
/**/frontend/assets
/test/runners