:root {
	--primary: 313;
	--primary-sat: 8;

	--secondary: 210;
	--secondary-sat: 80;

	--accent1: 100;
	--accent1-sat: 30;

	--accent2: 50;
	--accent2-sat: 85;

	--accent3: 0;
	--accent3-sat: 50;

	--col-fg-default: var(--col-primary-80);
	--col-fg-muted: var(--col-primary-70);
	--col-fg-subtle: var(--col-primary-60);
	--col-canvas-default: var(--col-primary-10);
	--col-canvas-subtle: var(--col-primary-20);
	--col-border-default: var(--col-primary-35);
	--col-border-muted: var(--col-primary-25);
	--col-neutral-muted: var(--col-primary-20);
	--col-accent-fg: var(--col-secondary-70);
	--col-accent-emphasis: var(--col-secondary-80);
	--col-attention-fg: var(--col-accent3-80);
	--col-attention-subtle: var(--col-accent3-60);
	--col-danger-fg: var(--col-accent2-80);
	--col-done-fg: var(--col-accent1-80);

	--shiki-color-text: --col-fg-default;
	--shiki-color-background: var(--col-primary-10);
	--shiki-token-constant: var(--col-accent3-75);
	--shiki-token-string: var(--col-accent1-70);
	--shiki-token-comment: var(--col-secondary-40);
	--shiki-token-keyword: var(--col-accent2-75);
	--shiki-token-parameter: var(--col-accent1-70);
	--shiki-token-function: var(--col-accent1-60);
	--shiki-token-string-expression: var(--col-accent1-70);
	--shiki-token-punctuation: var(--col-accent1-70);
	--shiki-token-link: var(--col-accent1-70);
}
$tones: primary secondary accent1 accent2 accent3;
$values: 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90;

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		--col-transparent-hover: hsla(
			var(--primary),
			calc(var(--primary-sat) * 1%),
			90%,
			0.1
		);

		@each $tone in $tones {
			@each $lightness in $values {
				--col-#{$tone}-#{$lightness}: hsl(
					var(--#{$tone}),
					calc(var(--#{$tone}-sat) * 1%),
					#{$lightness + '%'}
				);
			}
		}
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--col-transparent-hover: hsla(
			var(--primary),
			calc(var(--primary-sat) * 1%),
			10%,
			0.1
		);

		@each $tone in $tones {
			@each $lightness in $values {
				--col-#{$tone}-#{$lightness}: hsl(
					var(--#{$tone}),
					calc(var(--#{$tone}-sat) * 1%),
					#{(100 - $lightness) + '%'}
				);
			}
		}
	}
}
