@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--colour-base: rgb(2, 11, 15);
		--colour-bg-default: rgba(60, 60, 60, 0.4);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
		--colour-base: rgb(211, 220, 224);
		--colour-bg-default: rgba(255, 255, 255, 0.4);
	}
}
